<div class="container" style="font-size: 2.5vh">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <ul>
          <h5 class="bg-dark text-white p-2">Tools</h5>
          <li>Playcode online editor</li>
          <li>Code Sandbox online editor</li>
          <li>MetaWeather API</li>
        </ul>
        <ul>
          <h5 class="bg-dark text-white p-2">Notable Frameworks & Libraries</h5>
          <li>Express framework</li>
          <li>ejs</li>
        </ul>
      </div>
      <div class="col-sm">
        <ul>
          <h5 class="bg-dark text-white p-2">Languages & Styles</h5>
          <li>JavaScript - ES2015+, Node.js</li>
          <li>HTML5</li>
          <li>CSS3</li>
        </ul>
        <ul>
          <h5 class="bg-dark text-white p-2">Platforms</h5>
          <li>Heroku</li>
          <li>
            Github​
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<rock-city-root></rock-city-root>
<div class="container" id="rock-city-summary" style="font-size: 2.5vh">
  <blockquote class="text-left">
    <p class="mb-0 p-4 font-italic">
      I used the basic calculator application to explain 'old-school' front-end
      web application development with just JavaScript, HTML, and CSS. I wrote
      the code in playcode.io where the application is also hosted. The basic
      weather application is hosted on Heroku and in codesandbox.io (where I
      also wrote the code). It uses the MetaWeather API to retrieve basic
      weather data for various locations.
    </p>
    <p class="mb-0 p-4 font-italic">
      My goal was to explain the basics of web application development in 50
      minutes, but not to undermine code quality or other related standards.
      Basically, the code was not of focus but rather the ideas, tools, and
      design of the applications. I touched on the idea of being fullstack
      developers who also understand the significance of cloud development and
      DevOps in today's job market.
    </p>
  </blockquote>
</div>
