<tabset [justified]="true" class="w3-text-theme" [@next]="state">
  <tab heading="Containerization">
    <br />
    <containerization-root></containerization-root>
  </tab>
  <tab heading="UNODC Youth Initiative">
    <br />
    <!--<img id="unodc" class="p-4" src="../../assets/images/unodc.png" />
    -->
    <blockquote class="text-left">
      <h5>
        Sourced from the
        <a
          href="https://www.unodc.org/unodc/en/prevention/youth-initiative/youth-forum-2015.html"
          target="blank"
          >United Nations Office on Drugs and Crime (UNODC)</a
        >
        website...
      </h5>
      <p class="mb-0 p-4 w3-text-large">
        In 9-11 March 2015, during the fifty eighth Commission on Narcotic
        Drugs, an international group of 28 young people from 11 different
        countries and from the Vienna International School participated in the 4
        th annual Youth Forum. The group consisted of youth leaders active in
        substance use prevention in their home communities, schools and
        organisations.
      </p>
      <p class="mb-0 p-4">
        To
        <a
          href="https://www.unodc.org/unodc/en/prevention/youth-initiative/wo-are-we-brenda-bonareri-from-kenya.html"
          target="blank"
          >Brenda Bonareri</a
        >
        (18) from Kenya engagement with the Youth Initiative means ...
      </p>
      <p class="mb-0 p-4">
        ... support in implementing own projects. Brenda is a student leader of
        the "movement" club at her high school that focuses on building
        awareness drug and substance use. The aim is to give students a platform
        to share facts and teach peers giving information on substances, health
        effects as well as social aspects are shared among peers, as
        <span class="mb-0 p-4 font-italic d-block"
          >we are the ones who teach ourselves</span
        >
        Student leaders serve as a contact persons that peers can consult when
        they feel they need for help or support in any issue. As representatives
        of the club they speak on behalf of these young individuals and\or the
        group to teachers or other elder persons of the community.
      </p>
      <img
        id="second-img"
        class="clearfix p-2"
        src="../../assets/images/discussion.jpg"
      />
      <p class="mb-0 p-4">
        … to meet youth from all over the world At the Youth Forum. Branda was
        surprised by the amount of international youth that gather to discuss
        their experiences in drug use prevention and health promotion within
        their communities. It was exiting for her to meet with youth from
        various countries such as Indonesia, Costa Rica, United States, Turkey
        or Iran.
        <span class="mb-0 p-4 font-italic d-block"
          >And all of them speak of things that you can relate to. You almost
          feel like if you come from the same country. You speak a common
          language. You speak of the same things and you understand each other.
          So the world suddenly felt so small.</span
        >
      </p>
      <img
        id="first-img"
        class="clearfix p-2"
        src="../../assets/images/standing.jpg"
      />
      <p class="mb-0 p-4">
        … to share experiences and ideas. Brenda felt that the Youth Forum was a
        great platform to share her experiences with other activists and to
        develop new ideas.
        <span class="mb-0 p-4 font-italic d-block"
          >Actually every idea was talked about, questioned if it was applied
          somewhere else and discussed how it worked and was it effective. It is
          a way for everybody to elaborate ideas. It felt nice to see that at
          least you are not alone in the fight. That somewhere someone is doing
          the same thing that you are doing.</span
        >
      </p>
      <p class="mb-0 p-4">
        … being heard by official delegates Together, the group worked on a
        statement to be presented in front of government officials at the
        Commission on Narcotic Drugs (CND).
        <span class="mb-0 p-4 font-italic d-block"
          >The best part of the forum was to stand in front of the delegates, to
          realize that every country is represented here and every country is
          listening. And we actually made a statement. It is a platform to speak
          up and I felt these people were actually listening to me." The main
          message of the statement was that "together we (the youth) can and
          will change the situation in our communities and truly support the
          health and wellbeing of our peers!.</span
        >
        The youth group shared concerns as well as creative ideas and
        suggestions on how to tackle the issue on a global as well as community
        level.
      </p>
      <p class="mb-0 p-4">
        … being able to influence things for real! To Brenda the experience at
        the Youth Forum was encouraging. After returning home she sent a copy of
        the statement to the national representative of Kenya as well as the
        national authority that runs campaigns against alcohol and drug use.
        Brenda was eager to share ideas and suggestions the group developed at
        the Youth Forum. Her action was taken seriously:
        <span class="mb-0 p-4 font-italic d-block"
          >They actually implemented one of the things that we suggested. </span
        >It feels rewarding for Brenda to realize that one of their suggestions,
        the inclusion of role models in prevention campaigns, got implemented in
        the real life. She feels that it as a great first step in the right
        direction.
      </p>
    </blockquote>
  </tab>
</tabset>
