<div id="section" class="w3-text-theme">
  <span 
  class="d-block mb-0 p-4 bg-transparent" 
  data-toggle="popover"
  title="Photo by Lukas from Pexels"
  data-trigger="hover"
  data-content=""></span>
  <h4 class="display-4">Skills</h4>
  <div id="skills" class="row p-3">
    <div class="col-sm">
      <div class="card">
        <div class="card-body w3-theme-l5">
          <span
            data-toggle="popover"
            title="Node.js, Angular, Express"
            data-trigger="hover"
            data-content=""
            >JavaScript & TypeScript Application Development
          </span>
          <div id="rating" class="progress w3-white">
            <div
              class="progress-bar progress-bar-striped w3-theme-l2"
              role="progressbar"
              style="width: 80%"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              80%
            </div>
          </div>
          Chatbot Development: Microsoft Bot Framework
          <div id="rating" class="progress w3-white">
            <div
              class="progress-bar progress-bar-striped w3-theme-l2"
              role="progressbar"
              style="width: 75%"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              75%
            </div>
          </div>
          Cloud Application Development: Microsoft Azure
          <div id="rating" class="progress w3-white">
            <div
              class="progress-bar progress-bar-striped w3-theme-l2"
              role="progressbar"
              style="width: 70%"
              aria-valuenow="70"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              70%
            </div>
          </div>
          Java Application Development: Spring, Spring Boot
          <div id="rating" class="progress w3-white">
            <div
              class="progress-bar progress-bar-striped w3-theme-l2"
              role="progressbar"
              style="width: 65%"
              aria-valuenow="65"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              65%
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-body w3-theme-l5">
          HTML5 & CSS3
          <div id="rating" class="progress w3-white">
            <div
              class="progress-bar progress-bar-striped w3-theme-l2"
              role="progressbar"
              style="width: 70%"
              aria-valuenow="70"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              70%
            </div>
          </div>
          Research & Data Visualization
          <div id="rating" class="progress w3-white">
            <div
              class="progress-bar progress-bar-striped w3-theme-l2"
              role="progressbar"
              style="width: 65%"
              aria-valuenow="65"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              65%
            </div>
          </div>
          Writing
          <div id="rating" class="progress w3-white">
            <div
              class="progress-bar progress-bar-striped w3-theme-l2"
              role="progressbar"
              style="width: 80%"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              80%
            </div>
          </div>
          Office365
          <div id="rating" class="progress w3-white">
            <div
              class="progress-bar progress-bar-striped w3-theme-l2"
              role="progressbar"
              style="width: 65%"
              aria-valuenow="65"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              65%
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
