<div id="section" class="w3-text-theme">
  <span
  class="d-block mb-0 p-4 bg-transparent"
  data-toggle="popover"
  title="Photo by Lukas from Pexels"
  data-trigger="hover"
  data-content=""></span>
  <div class="container">
  <div class="jumbotron">
    <h1 style="font-size: 4.5vh">Application Development Internship</h1>
    <p class="lead" style="font-size: 3vh">@J.B. Hunt Transport Services, Inc.</p>
    <hr class="my-4">
    <p style="font-size: 2.5vh">As part of the Emerging Technologies team, I get to work with some of the best engineers on business applications in Java and JavaScript, using frameworks like Spring and Angular. I also have the privilege of collaborating on proof of concepts and applications using breakthrough technologies like Kubernetes and the Cognitive Services on Microsoft Azure.</p>
    <a class="btn btn-dark btn-lg" href="#" style="font-size: 2.5vh" role="button">Learn more</a>
</div>
</div>
  <span
    class="d-block mb-0 p-4 bg-transparent"
    data-toggle="popover"
    title="Photo by Lukas from Pexels"
    data-trigger="hover"
  data-content=""></span>
</div>
