<profile></profile>
<div id="main-div" class="w3-theme-l5">
  <div id="main-card" class="card mb-0">
    <div class="card-header w3-theme-l5 w3-xxlarge mb-0">
      {{ headerTitle }}
    </div>
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
  <skills></skills>
  <div id="resume-div" class="d-block p-0 w3-theme-l5">
    <div id="resume-block" class="card text-center w3-theme shadow">
      <div class="card-body">
        <p class="card-text w3-large">
          How about a snapshot of professional me?
        </p>
        <a href="../assets/docs/Brenda C. Nyangweso's Resume.pdf" download>
          <button class="btn m-1 btn-dark">Resume</button>
        </a>
      </div>
    </div>
  </div>
</div>
<footer class="w3-text-theme p-0">
  <contact-root class="p-4"></contact-root>
  <div id="icons" class="mb-0 p-3 w3-theme-d1">
    <a href="https://github.com/ChepkorirBrenda" target="blank">
      <img id="icon" src="../assets/images/github.png" />
    </a>
    <br />
    <span>By Brenda Chepkorir Nyangweso © 2019. All Rights Reserved.</span>
  </div>
</footer>
