<div class="container" style="font-size: 2.5vh">
  <div class="container">
    <p class="p-3">
      A solely developed volunteer project for the Community Night of Coding
      2018 event at the University of Arkansas at Little Rock.
    </p>
    <div class="row">
      <div class="col-sm">
        <ul>
          <h5 class="bg-dark text-white p-2">Tools</h5>
          <li>Microsoft Bot Framework SDK v3.</li>
          <li>LUIS - Language Understanding Intelligent Service.</li>
          <li>Microsoft QnAMaker Service.</li>
          <li>Bing Spell Check API v7.</li>
        </ul>
        <ul>
          <h5 class="bg-dark text-white p-2">Notable Libraries</h5>
          <li>React.js - front-end application</li>
        </ul>
      </div>
      <div class="col-sm">
        <ul>
          <h5 class="bg-dark text-white p-2">Languages & Styles</h5>
          <li>JavaScript - Node.js</li>
          <li>HTML5</li>
          <li>CSS3</li>
        </ul>
        <ul>
          <h5 class="bg-dark text-white p-2">Platforms</h5>
          <li>Azure - Back-end application (Bot).</li>
          <li>Heroku - Client application.</li>
          <li>Github - Repositories.​</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="container embed-responsive embed-responsive-16by9">
    <iframe
      class="embed-responsive-item"
      src="https://www.powtoon.com/embed/cEIIULqwgsR/"
    ></iframe>
  </div>
</div>
<!--<iframe width="650" height="360" src="" frameborder="0"></iframe>
-->
<div class="container" id="leo-summary" style="font-size: 2.5vh">
  <blockquote class="text-left">
    <p class="mb-0 p-4 font-italic">
      Leo was an informative friend to the children and the parents who attended
      the event. He provided information and links related to Artificial
      Intelligence, Machine Learning, and the University of Arkansas at Little
      Rock.
    </p>
    <p class="mb-0 p-4 font-italic">
      He maintained some of the default chat responses that were already
      included in the Microsoft QnAMaker Service, with some minor adjustments to
      suit the K-12 students. I included emojis to add some familiarity,
      although most of the students did not have phones. I assumed they had at
      least seen the Emojis movie.
    </p>
  </blockquote>
</div>

