<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <ul>
          <h6>Tools</h6>
          <li>Microsoft Bot Framework SDK v3.</li>
          <li>LUIS - Language Understanding Intelligent Service.</li>
          <li>Microsoft QnAMaker Service.</li>
          <li>Bing Spell Check API v7.</li>
        </ul>
        <ul>
          <h6>Notable Libraries</h6>
          <li>React.js - front-end application</li>
        </ul>
      </div>
      <div class="col-sm">
        <ul>
          <h6>Languages & Styles</h6>
          <li>JavaScript - Node.js</li>
          <li>HTML5</li>
          <li>CSS3</li>
        </ul>
        <ul>
          <h6>Platforms</h6>
          <li>Azure - Back-end application (Bot).</li>
          <li>Heroku - Client application.</li>
          <li>Github - Repositories.​</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe
      class="embed-responsive-item"
      src="https://www.powtoon.com/embed/cEIIULqwgsR/"
    ></iframe>
  </div>
</div>
<!--<iframe width="650" height="360" src="" frameborder="0"></iframe>
-->
<div class="container" id="leo-summary">
  <blockquote class="blockquote text-left">
    <p class="mb-0">
      "Leo was an informative friend to the children and the parents who
      attended the event. He provided information and links related to
      Artificial Intelligence, Machine Learning, and the University of Arkansas
      at Little Rock. He maintained some of the default chat responses that were
      already included in the Microsoft QnAMaker Service, with some minor
      adjustments to suit the K-12 students. I included emojis to add some
      familiarity, although most of the students did not have phones. I assumed
      they had at least seen the Emojis movie."
    </p>
  </blockquote>
</div>
