<div id="folio-intro">
  <div
    id="section"
    class="w3-text-theme"
  >
    <div id="portfolio" class="bg-transparent p-2">
      <a style="font-size: 3.5vh" href="/">Portfolio of Work</a>
    </div>
    <span
    class="d-block mb-0 p-4 bg-transparent"
    data-toggle="popover"
    title="Photo by Lukas from Pexels"
    data-trigger="hover"
    data-content=""></span>
    <div id="centered">
      <img
        src="../../assets/images/DSC_1526_00042.jpg"
        id="profile-img"
        class="rounded-circle shadow-lg"
        alt="..."
      />
      <h1 class="w3-animate-opacity w3-text-black name-font" style="font-size: 8vh">
        Brenda Chepkorir (B. N)
      </h1>
      <p style="font-size: 3vh">Application Development Intern <span class="text-muted">@J.B. Hunt</span></p>
      <p style="font-size: 3vh">Student <span class="text-muted">@UA Little Rock</span></p>
      <p style="font-size: 3vh">Software Development Enthusiast</p>
    </div>
  </div>
  <span class="text-white">
    <nav class="navbar navbar-expand-lg navbar-dark w3-theme-d1 shadow-lg">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar-menu"
        aria-controls="navbar-menu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"> </span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a
              class="nav-link"
              style="font-size: 3.5vh"
              id="projects-link"
              [routerLink]="['/projects']"
              routerLinkActive="active"
              >Projects<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              style="font-size: 3.5vh"
              id="others-link"
              [routerLink]="['/others']"
              routerLinkActive="active"
              >Others</a
            >
          </li>
          <li class="nav-item">
          <a id="resume-link" class="nav-link" style="font-size: 3.5vh" href="#">
		     Resume
        </a>
          </li>
        </ul>
      </div>
    </nav>
  </span>
</div>
